{{ form_start(registrationForm, {'action': path('registration'), 'method': 'POST'}) }}
    {{ form_errors(registrationForm)}}
    <div class="form-control-group">
        <div class="form-label">
            {{ form_label(registrationForm.firstName) }}
        </div>
        <div class="form-input">
            {{ form_widget(registrationForm.firstName) }}
        </div>
    </div>

    <div class="form-control-group">
        <div class="form-label">
            {{ form_label(registrationForm.lastName) }}
        </div>
        <div class="form-input">
            {{ form_widget(registrationForm.lastName) }}
        </div>
    </div>

    <div class="form-control-group">
        <div class="form-label">
            {{ form_label(registrationForm.email) }}
        </div>
        <div class="form-input">
            {{ form_widget(registrationForm.email) }}
        </div>
    </div>

    <div class="form-control-group">
        <div class="form-label">
            {{ form_label(registrationForm.username) }}
        </div>
        <div class="form-input">
            {{ form_widget(registrationForm.username) }}
        </div>
    </div>

    <div class="form-control-group">
        <div class="form-label">
            {{ form_label(registrationForm.plainPassword) }}
        </div>
        <div class="form-input">
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
    </div>

    <div class="form-control-group">
        <div class="form-input">
            {{ form_widget(registrationForm.acceptTermsAndConditions) }}
        </div>
        <div class="form-label">
            {{ form_label(registrationForm.acceptTermsAndConditions) }}
        </div>
    </div>

    <div class="form-control-group">
        <div class="form-input">
            {{ form_widget(registrationForm.acceptPrivacyPolicy) }}
        </div>
        <div class="form-label">
            {{ form_label(registrationForm.acceptPrivacyPolicy) }}
        </div>
    </div>

    <div class="form-control-group">
        <div class="form-label">
            {{ form_label(registrationForm.emailOptIn) }}
        </div>
        <div class="form-input">
            {{ form_widget(registrationForm.emailOptIn) }}
        </div>
    </div>

    <div class="form-control-group">
        <input type="submit" value="Sign Up">
    </div>
{{ form_end(registrationForm) }}
